body {margin: 0;
        	background-color:black;
        }

#chat{
position:absolute;
top:15px;
right:15px;
}

#content{
color:white;
width: 500px; 
height: 300px; 
margin: 0 0 20px 0;
 border: solid 1px #999; 
 overflow-y: scroll;
}